* {
    background-image: url('./bkg1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 130%;
}
#main {
    max-width: 500px;
    margin: auto;
    text-align: center;
}
#title {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
}
h1, p {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    padding: 15px;
}
#img-div {
}
#image{

}
#img-caption {
}
#tribute-info {
}
#tribute-link {
}