* {
	margin: auto 0;
	padding: 0;
}
body {
	background-color: lightsteelblue;
}
#main {
	max-width: 500px;
	margin: auto;
	padding: 3%;
	text-align: center;
	font-family: "Barlow Semi Condensed", sans-serif;
	display: grid;
}
#title {
	font-family: "Roboto", sans-serif;
	margin: 3%;
	padding: 2%;
	font-family: "Barlow Semi Condensed", sans-serif;
}
h1,
p {
	font-family: "Barlow Semi Condensed", sans-serif;
	background-color: rgba(255, 255, 255, 0.473);
	padding: 15px;
}
#img-div {
	/* 	height: 50%;
	width: 80%; */
}
#image {
}
#img-caption {
}
#tribute-info {
}
#tribute-link {
}
