body {
	background-color: lightsteelblue;
}
#main {
	font-family: "Barlow Semi Condensed", sans-serif;
	display: grid;
	grid-template-areas:
		"header header header  header"
		"main main . sidebar"
		"footer footer footer footer";
}
#title {
	font-family: "Roboto", sans-serif;
	font-family: "Barlow Semi Condensed", sans-serif;
	grid-area: header;
}
h1,
p {
	font-family: "Barlow Semi Condensed", sans-serif;
	background-color: rgba(255, 255, 255, 0.473);
	padding: 15px;
	grid-area: main;
}
#img-div {
	border-style: double;
	height: auto;
	width: 100%;
	padding-top: 2%;
	grid-area: sidebar;
}
#image {
	grid-area: sidebar;
}
#img-caption {
	grid-area: sidebar;
}
#tribute-info {
}
#tribute-link {
	grid-area: footer;
}
